<div id="testimonials" class="testimonials">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                <div class="testimonial-item">
                    <blockquote>
                        <p>{{ testimonial.description }}</p>
                        <footer>{{ testimonial.name }}</footer>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>