
.half-hero {
  height: 50vh;
}

.flex-item {
  padding: 10px 10px;
  align-self: flex-start;
}

.flex-30 {
  flex: 0 0 30%;
  -webkit-flex: 0 0 30%;
}

.flex-35 {
  flex: 0 0 35%;
  -webkit-flex: 0 0 35%;
}

.flex-40 {
  flex: 0 0 40%;
  -webkit-flex: 0 0 40%;
}

.flex-45 {
  flex: 0 0 45%;
  -webkit-flex: 0 0 45%;
}

.orange-dark {
  padding: 10px 10px;
  background-color: $orange-dark;
}

.logo-bg-color {
  padding: 10px 10px;
  background-color: $logo-bg-color;
}

.small-text {
  p {
    font-size: 1.30em;
  }
}

.light-blue {
  padding: 10px 10px;
  background-color: lightblue;
}

.text-box {
  padding: 20px;
  border: 1px solid #eee;
  margin: 30px 0;

  hr {
    border: 1px solid #eee;
    margin: 10px 0;
  }
}
