$orange-dark: #fcd797;
$orange-light: #ffdd9d;

$primary-color: #f39096;
$secondary-color: #567e8a;
$logo-bg-color: #f4f6fc;



/* Breakpoints
-------------------------------*/
$tablet: "(min-width: 450px)";
$max-desktop: "(max-width: 768px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
