---
layout: default
title: Contact
description: "Send us a message to find out more!"
map:
  latitude: -33.8946528
  longitude: 151.21089
  zoom: 16
image: /images/telopea9.jpg
custom_javascript:
 - src: 'https://cdn.emailjs.com/sdk/2.2.4/email.min.js'
 - src: '/js/contact.js'
 - src: '//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js'
   attributes:
     data-dojo-config: 'usePlainJson: true, isDebug: false'
 - src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDzB8G0Ol_wvkWDR6VBjKMSk38kgFi_CYc&amp;callback=initMap'
   modifiers:
     - async
     - defer
---

<section class="hero half-hero" style="background-image: url({{ page.image }})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Get in touch today</h1>
			<p class="subtext editable">If you have any questions or queries send us a message and we'll get back to you as soon as we can.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container flex contact-box">
		{% include contact-form.html %}
		<div class="text contact-details">
			<address>
				<ul>
<!--					<li><i class="small-icon fas fa-home"></i>{{ site.data.details.address }}</li>-->
<!--					<li>Open by appointment only</li>-->
					<li><i class="small-icon fas fa-envelope"></i>{% include email.html %}</li>
					<li><hr></li>
					<li>
						Find out all about the latest news, events and promotions
						<div class="button subscribe"><a onclick ="showSubscribePopUp(); return false;">Join our mailing list</a></div>
					</li>
				</ul>
			</address>
		</div>
	</div>
</section>

<div class="map" id="map"></div>
<script>
	function initMap() {
		createMap({{ page.map | jsonify }});
	}
</script>
