---
title: Contact
description: Send us a message to find out more!

map:
  latitude: -33.8946528
  longitude: 151.21089
  zoom: 16
email: hello@somaticbalance.com.au
image: /images/telopea9.jpg
custom_javascript:
 - https://cdn.emailjs.com/sdk/2.2.4/email.min.js
 - /js/contact.js
---

<section class="hero half-hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Get in touch today</h1>
			<p class="subtext editable">If you have any questions or queries send us a message and we'll get back to you as soon as we can.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container flex contact-box">
		<div class="text contact-form-container">
			<div class="alert success" onclick="this.style.display='none';" id="msg-success">
				<strong>Thanks for your message, we'll be in touch soon!</strong>
			</div>
			<div class="alert error" onclick="this.style.display='none';" id="msg-error">
				<strong>
					Your message could not be sent, try again later or send us an email to {{page.email}}.
				</strong>
			</div>
			<form class="contact-form" id="contact-form">
				<label for="name">Name</label>
				<input type="text" name="contact_name" id="name" placeholder="* Enter your name..." required>

				<label for="email">Email Address</label>
				<input type="email" name="contact_email" id="email" placeholder="* Enter your email..." required>

				<label for="phone">Phone</label>
				<input type="tel" name="contact_phone" id="phone" placeholder="Enter your phone...">

				<label for="message">Message</label>
				<textarea name="message" id="message" placeholder="* How can we help?" required></textarea>

				<input type="submit" value="Send Message">
				<div class="overlay"><div class="loader"></div></div>
			</form>
		</div>

		<div class="text contact-details">
			<address>
				<ul>
					<li>{% include social-icon.html icon="Home" %}{{ site.data.details.address }}</li>
					<li>Open by appointment only</li>
					<li>{% include social-icon.html icon="Email" %}<a href="mailto:{{page.email}}">{{page.email}}</a></li>
					<li><hr></li>
					<li>
						Find out all about the latest news, events and promotions
						<div class="button subscribe"><a onclick ="showSubscribePopUp(); return false;">Join our mailing list</a></div>
					</li>
				</ul>
			</address>
		</div>
	</div>
</section>

<div class="map" id="map"></div>
<script>
	function initMap() {
		createMap({{ page.map | jsonify }});
	}
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
	function showSubscribePopUp() {
		window.dojoRequire(
			["mojo/signup-forms/Loader"],
			function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"7f2855fbda8a9f5e3c72d4789","lid":"7bf02b8ab9","uniqueMethods":true}) }
		);
		document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
		document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
	}
</script>

