---
title: Home
description: Holistic bodywork - Rolfing & Somatic Explorations in Sydney.
image: /images/home.jpg
custom_javascript:
 - /js/owl.carousel.js
 - /js/home.js
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Rolfing & Somatic Explorations</h1>
			<div class="cta button alt"><a href="{{ site.baseurl }}/bookings">Book a session now</a></div>
		</div>
	</div>
</section>

<section class="info logo-bg-color untitled-info">
	<div class="container flex">
		<div class="text">
			<p class="editable">
				More often than not, we try to deal with the body from a very surface level.
				We see what's wrong on the outside and we try to fix it but the truth is - the body isn't meant to be 'fixed',
				<strong class="strong">it's meant to be freed</strong>.
			</p>
		</div>
		<div class="image">
			<img class="editable" src="/images/logo/logo.png" alt="Balance by Celeste" style="max-height: 150px"/>
		</div>
	</div>
</section>

<div class="content">
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How we work</h2>
				<p class="editable">
					Our aim is to go beyond the surface and gain a deeper understanding into who we are and what we need.
					We are here to help people work with the body instead of against it, to begin understanding how the physical body, mind and emotions are one.
				</p>
				<p class="editable">
					Using holistic bodywork and touch, somatic movement, breath, and sound we help people find physical comfort, release tension and relieve pain, increase body awareness, and learn how to deal with physical and emotional stress.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/session.jpg" alt="session" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">A client led approach</h2>
				<p class="editable">Each session is tailored and accessible to the individual allowing them to participate as much or as little as is useful. We understand that everyone will show up differently and we respect how they want to engage.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/rolfing-sitting.jpg" alt="client and therapist" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Benefits</h2>
				<p class="editable">
					Some of the benefits commonly reported include: tension and pain relief, improved posture, mental clarity and increased self-awareness,
					sense of connection and groundedness, increased motivation, enthusiasm, energy and vitality, and improved mood and self-esteem.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/breathing.jpg" alt="breathing" />
			</div>
		</div>
	</section>

	<section class="info">
		<div id="testimonials" class="testimonials">
			<div class="overlay-container">
				<div class="overlay"></div>
				<div class="container">
					<div class="icon">{% include social-icon.html icon="Quote" %}</div>
					<div id="testimonial-carousel">
						{% for testimonial in site.data.testimonials %}
						<div class="testimonial-item">
							<blockquote>
								<p>{{ testimonial.description }}</p>
								<p class="footer">{{ testimonial.name }}</p>
							</blockquote>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="info logo-bg-color">
	<div class="container flex">
		<div class="text">
			<p>Feels right, doesn't it? <a href="{{ site.baseurl }}/bookings">Book a session now</a> or
			<a href="{{ site.baseurl }}/contact">get in touch</a> and let us know how we can help you.</p>
		</div>
	</div>
</section>