<div id="intro" class="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10" style="float: none; margin: 0 auto;">
                <p><strong>Rolfing & Somatic Counselling</strong></p>
                <p>
                    Our bodies hold the stories of who we are but more often than not, we find ourselves struggling to
                    even understand what’s really going on within us. We’re physically stressed and emotionally exhausted.
                </p>
                <p>
                    <strong>It's time for that to change.</strong>
                    <svg class="icon icon-somatic-person"><use xlink:href="#icon-somatic-person"></use></svg>
                </p>
            </div>
        </div>
    </div>
</div>
