<div id="location" class="location">
    <div class="row">
        <div class="col-sm-8 map"
             data-zoom="{{ site.map.zoom }}"
             data-address="{{ site.map.address }}"
             data-lat="{{ site.map.lat }}"
             data-lng="{{ site.map.lng }}"
             data-address-details="{{ site.map.address_details }}">
        </div>
        <div class="col-sm-4 location-items">
            <div class="location-item">
                <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
                <h3>Location</h3>
                <p>
                    {{ site.contact.address }}
                </p>
            </div>
            <div class="location-item">
                <svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg>
                <h3>Contact Us</h3>
                <ul>
                    {% if site.contact.phone %}<li><strong>Phone:</strong> {{ site.contact.phone }}</li>{% endif %}
                    {% if site.contact.emergency %}<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
                    {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
