<div id="offers" class="offers">
    <div class="container-fluid">
        <h2 class="section-title">What we offer</h2>
        <div class="row">
            {% for offer in site.data.offers %}
            {% assign details = offer[1] %}
            {% assign id = offer[0] %}
            <div class="col-sm-6 col-md-4">
                <div class="popup-box open-modal-window" data-mfp-src="#offer-{{id}}">
                    <div class="icon-box popup-box-top offer-box">
                        <svg class="icon {{ details.icon }}"><use xlink:href="#{{ details.icon }}"></use></svg>
                        <h4>{{ details.title }}</h4>
                        <p>{{ details.summary }}</p>
                        <svg class="icon more icon-expand"><use xlink:href="#icon-expand"></use></svg>
                        <div id="offer-{{id}}" class="wide-popup mfp-hide full-height vertical-scroll">
                            <div class="container-fluid">
                                <div class="row">
                                    <h1>{{ details.title }}</h1>
                                    <h4>{{ details.summary}}</h4>
                                </div>
                                <div class="row row-content">
                                    {% include offers/offer.html data=details section=id %}
                                </div>
                                <div class="row row-content">
                                    <a class="close-modal-window scroll highlight-contact-form btn btn-primary" href="#top">{{ details.call-to-action }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-box-bottom">
                        <span>Learn more</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>