<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Treatments</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
            <div class="col-sm-6 col-md-4">
                <div class="treatment-box open-modal-window" data-mfp-src="#treatment-{{forloop.index}}">
                    <div class="treatment-box-top">
                        <span>Learn more</span>
                    </div>
                    <div class="icon-box treatment-box-bottom">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.summary }}</p>
                    </div>
                </div>
                <div id="treatment-{{forloop.index}}" class="white-popup mfp-hide">
                    <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                    <h4>{{ treatment.title }}</h4>
                    <p>{{ treatment.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>