<section class="info">
    <div class="container faq">
        <h2>Frequently Asked Questions</h2>
        {% for faq in include.faqs %}
        <div class="question">{{ faq.question }}</div>
        <div class="answer">
        {% for paragraph in faq.answer %}
            <p>{{ paragraph }}</p>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

<script>
    const questions = document.getElementsByClassName('question');

    function handler(event) {
        event.preventDefault();
        this.classList.toggle('active');
        const content = this.nextElementSibling;
        content.style.display = content.style.display === 'block' ? 'none' : 'block';
    }

    for (let i = 0; i < questions.length; i++) {
        questions[i].addEventListener('click', handler);
        questions[i].addEventListener('touchstart', handler);
    }
</script>
