<div class="text contact-form-container">
    <div class="alert success" onclick="this.style.display='none';" id="msg-success">
        <strong>Thanks for your message, we'll be in touch soon!</strong>
    </div>
    <div class="alert error" onclick="this.style.display='none';" id="msg-error">
        <strong>
            Your message could not be sent, try again later or send us an email to {{site.contact.email}}.
        </strong>
    </div>
    <form class="contact-form" id="contact-form">
        <label for="name">Name</label>
        <input type="text" name="contact_name" id="name" placeholder="* Enter your name..." required>

        <label for="email">Email Address</label>
        <input type="email" name="contact_email" id="email" placeholder="* Enter your email..." required>

        <label for="phone">Phone</label>
        <input type="tel" name="contact_phone" id="phone" placeholder="Enter your phone...">

        <label for="message">Message</label>
        <textarea name="message" id="message" placeholder="* How can we help?" required></textarea>

        <input type="submit" value="Send Message">
        <div class="overlay"><div class="loader"></div></div>
    </form>
</div>
