/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space-short;
    color: $white;
    background: lighten($colorPrimary, 8%);
    text-align: center;
    small {
        display: block;
    }
}
