
.iframe-container {
  padding: 10px 20px 10px 20px;
  flex: 1 1 auto;
  display: flex;
  height: 1050px;

  @media #{$desktop} {
    padding: 10px 100px 10px 100px;
  }
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.warning-box {
  padding: 10px 10px;
  background-color: #ffeead;
  margin-bottom: 25px;
  p {
    margin: 5px;
    font-size: 1em;
  }
  ul {
    margin: 5px;
  }
  li {
    font-size: 1rem;
  }

  @media #{$mid-point} {
    > ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }

  @media #{$desktop} {
    > ul {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
    }
  }
}
