
.half-hero {
  height: 50vh;
}

.flex-item {
  padding: 10px 10px;
  align-self: flex-start;
}

.flex-30 {
  flex: 0 0 30%;
  -webkit-flex: 0 0 30%;
}

.flex-35 {
  flex: 0 0 35%;
  -webkit-flex: 0 0 35%;
}

.flex-40 {
  flex: 0 0 40%;
  -webkit-flex: 0 0 40%;
}

.flex-45 {
  flex: 0 0 45%;
  -webkit-flex: 0 0 45%;
}


.logo-bg-color {
  padding: 10px 10px;
  background-color: $logo-bg-color;
}

.warning-bg-color {
  background-color: #ffeead;
}

.small-text {
  p {
    font-size: 1.30em;
  }
}
.smaller-text {
  p {
    font-size: 1.10em;
  }
}


.info-box {
  padding: 10px 10px;
  margin-bottom: 25px;
  p {
    margin: 5px;
    font-size: 1em;
  }
  ul {
    margin: 5px;
  }
  li {
    font-size: 1rem;
  }

  @media #{$mid-point} {
    > ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }

  @media #{$desktop} {
    > ul {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
    }
  }
}

.primary-color-box {
  padding: 10px 10px;
  background-color: $primary-color;
}

.secondary-color-lighter-box {
  padding: 10px 10px;
  background-color: $secondary-color-lighter-40;
}

.text-box {
  padding: 20px;
  border: 1px solid #eee;
  margin: 30px 0;

  hr {
    border: 1px solid #eee;
    margin: 10px 0;
  }
}

.popup {
  display: none;
}

.popup-wide {
  width: 95%;
  max-width: 650px !important;
}

div.valign-center {
  display: flex;
  align-items: center;
}

.table {
  h3 {
    background: $primary-color;
    padding: 10px;
  }
  .row {
    border-bottom: 1px solid $primary-color;
    padding: 10px;
  }

  .column {
    align-items: center;
    padding-top: 10px;
  }

  @media #{$mid-point} {
    .row {
      display: flex;
    }
    .column {
      flex: 50%;
    }
    .column.column-15 {
      flex: 15%;
    }
    .column.column-5 {
      flex: 5%;
    }
  }
}

.table.thin {
  .row {
    border-bottom: 0;
    padding: 0;
  }
  .column {
    padding: 0;
  }
}
