.map {
	width: 100%;
	height: 440px;
}

.contact-form-container {
	position: relative;
	padding: 20px 30px 20px 30px;

	.alert {
		display: none;
		padding: 20px;
		color: white;
		margin-bottom: 15px;
	}

	.alert.error {
		background-color: #f44336;
		opacity: 0.83;
	}

	.alert.success {
		background-color: #4caf50;
		opacity: 0.83;
	}

	.closebtn {
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 22px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
	}

	.closebtn:hover {
		color: black;
	}
}

.contact-box {
	margin: 0 auto;

	form {
		width: 100%;
	}

	p {
		margin: 0;
	}

	.contact-form, .contact-details  {
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
	}

	.contact-details {
		align-self: self-start;
		font-size: .5em;
		margin-top: 60px;
		text-transform: uppercase;
		text-align: left;
		letter-spacing: 5px;

		li {
			list-style-type:none;
			margin-bottom: 20px;
		}

		svg {
			fill: $primary-color;
			transition: fill 0.2s ease;
			vertical-align: center;
			width: 18px;
			height: 18px;
		}

		.subscribe {
			margin: 20px 0;
			letter-spacing: 1px;
			font-family: inherit;
		}
	}
}

.emailjs-sending {
	width: 100%;
	height: 100%;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		overflow: auto;
		background: rgba(#000, 0.2);
		.loader,
		.loader:before,
		.loader:after {
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation: load7 1.8s infinite ease-in-out;
			animation: load7 1.8s infinite ease-in-out;
		}
		.loader {
			top: 50%;
			color: #fff;
			font-size: 10px;
			margin: 80px auto;
			position: relative;
			text-indent: -9999em;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
		.loader:before,
		.loader:after {
			content: '';
			position: absolute;
			top: 0;
		}
		.loader:before {
			left: -3.5em;
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}
		.loader:after {
			left: 3.5em;
		}
		@-webkit-keyframes load7 {
			0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em;} 40% {box-shadow: 0 2.5em 0 0;}
		}
		@keyframes load7 {
			0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em;} 40% {box-shadow: 0 2.5em 0 0;}
		}
	}
}