.button a, input[type=submit] {
	color: $primary-color;
	text-decoration: none;
	border: 2px solid $primary-color;
	transition: .2s ease-in-out;
	display: inline-block;
	padding: 16px 50px;
	background: #fff;
}

.button a:hover, input[type=submit]:hover {
	background: $primary-color;
	color: #fff;
	cursor: pointer;
}

.button.alt a input[type=submit] {
	text-transform: uppercase;
	background: $secondary-color;
	border: 2px solid $secondary-color-lighter-20;
	color: #fff;
}

.button.alt a:hover input[type=submit]:hover {
	background: $primary-color;
	border: 2px solid $primary-color;
}

.button.alt.dark a {
	background: transparent;
	border-color: #000;
	color: #000;
}

.button.alt.dark a:hover {
	background: #000;
	color: #fff;
	text-shadow: none;
}

.button.thin a {
	padding: 5px 25px;
	margin: 10px 10px;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
	margin: 20px 0 0 0;
}

label, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 150px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
	font-size: 1em;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}


.indicates-required {
	text-align:right;
	font-size:11px;
	margin-right:4%;
}

.asterisk {
	color:#e85c41;
	font-size:150%;
	font-weight:normal;
	position:relative;
}