.author {
  padding: 30px 20px 0 20px;
  border: 1px solid #eee;
  margin: 30px 10px;
  font-size: .8em;
  flex-basis: 100%;
  align-self: stretch;

  .square-image {
    min-width: 125px;
    width: 125px;
    height: 125px;
  }
  .blurb {
    text-align: center;
  }
}

.practitioner {
  .text-box {
    font-size: .8em;

    h3 {
      margin: 0;
    }

    @media #{$mid-point} {
      > ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }
    }

    @media #{$desktop} {
      > ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
      }
    }

    li.nested-list {
      display: inline-block;
      width: 100%;

      ul li {
        list-style: circle;
      }
    }

    li {
      list-style: none;
      font-size: .8em;
    }
  }
}
