/* ABOUT
-------------------------------------------------*/
.about {
    @extend %space;
    .media {
        margin-bottom: $space;
    }

    .row {
        margin-bottom: $space*2;
    }
}

.about-content {
    background: rgba($white, 0.7);
    padding: $space $spaceDouble;
}