/* OFFERS
-------------------------------------------------*/
.offers {
    @extend %space;
    background: url('/img/offers.jpg') no-repeat fixed;
    background-size: cover;

    h1,h2 {
        color: $white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .row {
        @include breakpoint(small) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    [class^="col-"] {
        @include breakpoint(small) {
            display: flex; 
        }
    }
    .icon {
        font-size: 1.5rem;
        color: $colorPrimary;
    }
}