/* TESTIMONIALS
-------------------------------------------------*/
.testimonials {
    @extend %space;
    color: $white;
    text-align: center;
    background-color: $colorPrimary;

    .container-fluid {
        position: relative;
        z-index: 10;
    }
    blockquote {
        margin: 0;
        border: none;
        font-style: italic;
        p {
            margin: 0 0 $space;
        }
        small, footer {
            color: $white;
            font-style: normal;
            &:before {
                content: '';
            }
        }
        footer {
            font-size: 1.063rem;
            font-weight: $fontWeightSemi;
        }
        small {
            text-transform: none;
        }
    }
    .icon {
        width: 35px;
        height: 35px;
        display: inline-block;
        //border: solid 2px $white;
        padding: 8px;
        color: $white;
    }
}