.location {
  @extend %space-short;
  @extend %align-center;
  display: block;
  padding-bottom: 0;

  background: $colorPrimary;

  .row {
    margin-left: 0;
    margin-right: 0;

    [class^="col-"] {
      padding: 0;
    }
    height: 450px;
  }


  .location-item {
    padding: 15px 0 15px 0;
    &:nth-child(1) {
      background: $colorPrimary;
      height: 225px;
    }
    &:nth-child(2) {
      background: lighten($colorPrimary, 8%);
      height: 225px;
    }

    color: $white;

    .icon {
      font-size: 2rem;
      color: $white;
    }
    h3 {
      color: $white;
    }

    ul {
      @extend %no-bullet;
    }
  }
}

.map {
  height: 450px;
}