---
layout: modality
title: Somatic Explorations
description: A journey of self inquiry
image: https://source.unsplash.com/3zFWCbpXbLg/2000x1322?a=.png
intro_image: /images/embodied-small.jpg
thumbnail: /images/client.jpg
practitioners:
 - celeste

faqs:
 - question: What is Somatic Explorations?
   answer:
    - >
     Somatic Explorations is a modality and process which helps us develop a deeper understanding and sense of trust in
     our own organic nature.
    - >
     The practice takes into the account the person as a whole being - understanding that through the process of
     integration of our conflicting needs, feelings, emotions, beliefs, and actions, we can start to reconnect with who
     we truly are and with what we truly need.

 - question: Who is this practice for?
   answer:
    - >
     Somatic Explorations can help people of all ages, and with the most varied needs. If you're interested in improving
     your mind-body-emotions connection, increase your general well being, expand your body awareness and possibilities
     of expression or seek a deeper understanding into your emotions, Somatic Explorations is for you.

 - question: What happens during a session?
   answer:
    - >
     You are welcomed into each session with a practice of mindfulness which will help us slow down, tune in and be
     present in that very moment.
    - >
     We will then establish the goals which you'd like to work on. This could range from physical tension, emotional
     responses or a pattern of behaviour you've seen come up in your life. The practitioner may ask you to stand,
     breathe deeply, take few steps, or pay attention to a prompt or exercise.
    - >
     The session continues using tools such as breath, contemplation, gestures, movement and noticing tension. We will
     begin to observe and deepen our understanding of how the present experience is organised, our beliefs around it and
     our physical and emotional response. You will be guided gently through the process where you can notice, understand
     and learn about your responses in a safe and organic manner.

 - question: How many sessions will I need?
   answer:
    - >
     We recommend a minimum of 3 to 5 sessions to truly experience change and feel the benefits. Each session builds
     upon the progress achieved in the previous one and with each client, the progress may vary. Ultimately, this
     depends on your goals and the number of sessions required to reach the established goals and long-term benefits
     varies from person to person.

 - question: Are there contraindications?
   answer:
    - >
     Somatic Explorations is not psychological or medical treatment. If you are experiencing extreme anxiety, depression
     or severe trauma, please talk to your general practitioner or psychologist about seeking the right help for what
     you're going through.

---

<section class="info">
 <div class="container flex primary-color-box">
  <div class="square-image" style="background-image: url({% include relative-src.html src=page.intro_image %}); min-width: 200px"></div>
  <div class="text-container">
   <p>
    A Somatic Explorations session allows you to engage mental, emotional, physical and/or biological functions in
    order to bring optimal well-being and healing. Sessions integrate and help develop skills inspired by embodiment practices,
    body-centred psychology principles, mindfulness, and bodywork therapies.
  </p>
  </div>
 </div>
</section>

<section class="collapsed-info">
 <div class="container">
  <p>
   Somatic Explorations enables us to embody new skills, new competencies, and new ways of being that are relevant to
   our current commitments and the present vision we have of our life. These practices help develop a “new shape”
   that allows us to be more present, open, and connected. Without grounded, sincere practices our intentions for
   change will only be good ideas. Committed practices help us to lever our resilience, develop more choice, respond
   instead of react, and be centred in stressful situations.
  </p>
  <p>
   Ultimately this facilitates:
   self-awareness, boundaries, self-esteem, emotional regulation, empathy, enhanced cognitive processing, easeful
   decision making of complex situations, body related self confidence, a greater sense of self-control, enhanced
   intuition, and a feeling of being both authentic and interconnected with others and the environment.
  </p>
 </div>
</section>

{% include faqs.html faqs=page.faqs %}

<section class="info">
 <div class="container">
  <h2 class="editable">Learn more about Somatic Explorations</h2>
  <p>
   Look at our <a href="/category/somatic-explorations/">Somatic Explorations articles</a>  or <a href="/bookings/">
   book a session now</a> and begin your journey of self-discovery.
  </p>
 </div>
</section>
