---
title: Home
description: Centre of Sense is a mind and body informed approach to support people in exploring their senses.
image: /images/home.jpg
custom_javascript:
 - /js/owl.carousel.js
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Somatic integration for the body and mind</h1>
			<p class="subtext editable">Centre of Sense offers a mind and body informed approach to support people in feeling more fulfilled, connected and balanced in all aspects of life.</p>
			<div class="cta button alt"><a href="{{ site.baseurl }}/contact">Get in touch</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info logo-bg-color" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What is Balance by Celeste?</h2>
				<p class="editable">Our mind and body informed approach supports people in exploring their senses to feel more fulfilled, connected and balanced in all aspects of life. We offer science-based somatic modalities and experiences that draw on ancient practices such as breath work, bodywork, sound healing, intuitive touch, mindfulness and movement. For so long we have felt the benefits of attending to the mind, the Centre of Sense focuses on the integration of the body in the experience.</p>
				<div class="cta button alt dark"><a href="{{ site.baseurl }}/modalities">Learn about the modalities we offer</a></div>
			</div>
			<div class="image">
				<img class="editable" src="/images/logo/full_logo.png" alt="Balance by Celeste" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How we work</h2>
				<p class="editable">Centre of Sense offers individual and group sessions and experiences, with a focus on self inquiry, interactive exercises, mindful engagements, playful release and expression. Using breath, touch, movement, sound and senses as a means of exploring wants, needs, boundaries and preconceived ideas, to find congruence in what you think, feel, do and need.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/people.jpg" alt="Group session" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">A client led approach</h2>
				<p class="editable">Each session is tailored and accessible to the individual allowing them to participate as much or as little as is useful. We understand that everyone will show up differently we respect how they want to engage.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/client.jpg" alt="client and therapist" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Benefits</h2>
				<p class="editable">Some of the benefits commonly reported include: mental clarity and increased self-awareness, stress and tension relief, sense of connection and groundedness, increased motivation and enthusiasm, energy and vitality, improved mood, empowered to change habits around thinking, feeling and working, opportunity & freedom to “be”.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/benefits.jpg" alt="breath" />
			</div>
		</div>
	</section>

	<section class="info">
		<div id="testimonials" class="testimonials">
			<div class="overlay-container">
				<div class="overlay"></div>
				<div class="container">
					<div class="icon">{% include social-icon.html icon="Quote" %}</div>
					<div id="testimonial-carousel">
						{% for testimonial in site.data.testimonials %}
						<div class="testimonial-item">
							<blockquote>
								<p>{{ testimonial.description }}</p>
								<p class="footer">{{ testimonial.name }}</p>
							</blockquote>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
