---
layout: modality
title: Rolfing® - Holistic Bodywork
description: Well-being, alignment and balance
thumbnail: /images/rolfing-thumbnail.jpg
image: /images/rolfing-bg.jpg
intro_image: /images/rolfing-logo.jpg
practitioners:
 - celeste
faqs:
 - question: What is Rolfing® and how is it different from other forms of bodywork?
   answer:
    - >
     Rolfing is a form of holistic, process-oriented bodywork developed by biochemist, Dr. Ida Rolf. The method differs from
     others because it takes gravity into account and understands the role it plays for our wellbeing. Dr.Ida recognised that
     gravity is an essential organising element for body structure, movement coordination, perception and human expression.
    - >
     Unlike other forms of bodywork, a Rolfer doesn't only take the entire body into account, they look at its structural and
     functional relationships too. Throughout a 10-session series, the entire fascia network of the body is addressed – with
     the goal of aligning it ideally in relation to gravity.

 - question: Can anyone try it? Who is Rolfing® for?
   answer:
    - >
     Yes, anyone can try it. It is often used by athletes who want to achieve more efficient movement. It's also a frequently
     used by musicians, dancers and actors who want to expand their body awareness and ability to express themselves freely.
    - After accidents and operations Rolfing can help those affected gain freer movement.
    - >
     Rolfing is for anyone who wants to have long-term, lasting improvements in their health and well-being. It is suitable
     for people of all ages. If you're experiencing any form of discomfort including back pain, neck tension, headaches,
     problems in the hips, knees or feet, Rolfing can help alleviate and treat the pain. If you're finding it difficult to
     recover after an accident or operation, Rolfing can also help you gain freer movement.

 - question: What happens during a Rolfing® session?
   answer:
    - >
     Every session begins with a short observation phase. You could be asked to sit, stand, walk a few steps or to breathe
     deeply to assess your body and what it needs. You will then lie on a padded table, one similar to a massage table where
     the Rolfer delicately works on the fascia in a specific body area while applying precise pressure.
    - >
     You will usually supports the effects of Rolfing through active movement and thereby, also learn new movement patterns.
     Old habits that have a lasting effect on your well-being will be gradually eliminated.

 - question: How many sessions will I need?
   answer:
    - >
     This really depends on your personal goals. If you'd like to release tension in a specific area of your body for a
     temporary amount of time, 1 to 3 sessions will suffice. However, if you'd like to experience lasting change in your
     overall wellbeing, the European Rolfing Association e.V. recommends the classic 10-session series developed by Dr. Ida
     Rolf in which each session builds upon the progress achieved in the previous one to get you back to being your best
     self.

 - question: Are there contraindications?
   answer:
    - >
     Rolfing is not suitable for certain conditions including inflammations and tumours. In these cases, we strongly
     recommend consulting with your General Practitioner before proceeding with a session. In other cases, if you are unsure,
     please consult with your General Practitioner before starting a session or talk to us if you need more information.

---

<section class="info">
 <div class="container flex light-blue">
  <div class="square-image" style="background-image: url({% include relative-src.html src=page.intro_image %}); min-width: 200px"></div>
  <div class="text-container">
   <p>
    Rolfing is a technique of soft tissue manipulation, body awareness and movement education aimed at the release and
    realignment of the body, and the reduction of muscular and physical tension and pain. Over a course of sessions, a
    Rolfer addresses the entire fascia network of the body while taking the whole body into account, including
    structural and functional relationships. The practice uses gravity as an ally, which is what sets it apart from
    other types of body work.
   </p>
  </div>
 </div>
</section>

<section class="collapsed-info">
 <div class="container">
  <p>
   Rolfing can help athletes, dancers, actors, musicians, yoga and martial arts practitioners, or anyone wishing to
   improve their body awareness and physical performance. As well as people of all ages with histories of pain and
   discomfort, and anyone hoping to rediscover freedom and ease of movement.
  </p>
  <p>
   Ultimately this facilitates:
   self-awareness, boundaries, self-esteem, emotional regulation, empathy, enhanced cognitive processing, easeful
   decision making of complex situations, body related self confidence, a greater sense of self-control, enhanced
   intuition, and a feeling of being both authentic and interconnected with others and the environment.
  </p>
  <p>
   Rolfing works, because it initiates structural changes that restore the entire body to a more natural order. The
   body's inherent capacity to adapt relaxes, corrects and integrates misalignments and imbalances. This allows
   posture and movement patterns to adjust towards their most efficient and at-ease form, freeing restrictions,
   alleviating pain, and building a foundation for lasting and sustainable results. Moreover, as the body changes
   physically, significant shifts in perception occur as well, resulting in lowered stress and anxiety, increased
   confidence and maturing emotional expression.
  </p>
 </div>
</section>

{% include faqs.html faqs=page.faqs %}

<section class="info">
 <div class="container">
  <h2 class="editable">Learn more about Rolfing</h2>
  <p>
   Look at our <a href="/category/rolfing/">Rolfing articles</a> in our blog or <a href="/bookings/"> book a session
   now</a> and experience it in your own body.
  </p>
 </div>
</section>
