---
layout: page
title: Renovate!
description: Restituyendo tu estado natural de bienestar
image: https://source.unsplash.com/2nZuBzWO-9A/2000x1322?a=.png
thumbnail: /images/wallart-thumbnail.jpg
course_id: renovate
unsplash:
    name: Deepak Kumar
    user: deepak890k
half-hero: true
---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Si te gustaría encontrar mayor vitalidad, acceder a tus recursos internos, comunicarte con claridad,
                salir de estados reactivos como la ansiedad, el estrés, el enojo, e incluso la apatía y el agotamiento,
                este programa es para vos! Sumate a nuestras 10 semanas de Exploraciones Somáticas para restaurar tu
                estado natural de Seguridad, Vitalidad y Presencia.
            </p>
        </div>
    </div>
</section>

<section class="info">
    <div class="container">
        <div class="text">
            <p>
                Hola! Te doy la bienvenida al programa y te agradezco por tomarte el tiempo para estar acá. Es un gran
                placer para mí acompañarte durante estas 10 semanas que vamos a compartir, y darte herramientas que te
                van a ayudar a explorarte, conocerte, y comprender lo que te sucede antes los distintos desafíos que la
                vida te presenta. Lo que es más importante aún, es que estas herramientas y prácticas que te voy a
                enseñar a utilizar te van a ayudar a salir de estados reactivos como la ansiedad, el estrés, la
                frustración constante, incluso el hartazgo o la desesperanza, para volver a estados de mayor calma,
                presencia y vitalidad.
            </p>
            <p>
                Nuestro enfoque durante todo el programa va a ser somático, lo que quiere decir que el foco va a estar
                puesto en tu experiencia interior, en encontrar tus ritmos orgánicos, y en descubrir tus propias
                necesidades y aquellas prácticas que te ayuden a satisfacerlas.
            </p>
            <p>
                Te invito entonces a empezar y te deseo el mejor viaje que puedas tener de regreso a
                <strong>tu estado natural de seguridad, vitalidad y presencia</strong>.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <p>
                {% include vimeo.html id=540460367 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <a name="class-index"></a>
    <div class="container table">
        <div class="text">
            <h3>
                Accedé a las sesiones desde acá
            </h3>
        </div>
        {%- assign classes = site.courses | where:"course_id",page.course_id -%}
        {%- for class in classes -%}
        <div class="row">
            <div class="column column-15">
                {%- if class.available -%}
                <div class="button alt dark margin-sides"><a href="{{ class.url }}">Ver Sesión</a></div>
                {%- else -%}
                <div class="button alt disabled margin-sides"><a>Próximamente</a></div>
                {%- endif -%}
            </div>
            <div class="column"><strong>Sesión {{ forloop.index }}:</strong> {{ class.title }}</div>
        </div>
        {%- endfor -%}
    </div>
</section>

<section class="info logo-bg-color">
    <div class="container">
        <div class="text">
            <p>
                Si en este explorar te das cuenta de que necesitás apoyo adicional, o si querés profundizar en estas
                prácticas, o tenés alguna sugerencia, escribime a: {% include email.html %}
            </p>
        </div>
    </div>
</section>
