---
layout: curso_renovate
title: La Aventura Recién Empieza
description: Sesión 10
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "/res/courses/renovate/audio/session10-spanish-somaticexploration.mp3"
    doc_receta_casi_infalible:
        href: /res/courses/renovate/docs/la-receta-casi-infalible.pdf
        filename: La receta (casi) infalible.pdf
        thumbnail: /res/courses/renovate/img/la-receta-casi-infalible_thumbnail.png
        alt: La receta (casi) infalible
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                ¡Te doy la bienvenida a la sesión 10! Esta es nuestra última sesión y verdaderamente espero que hayas
                disfrutado el recorrido que hemos hecho hasta ahora.
            </p>
            <p>
                Como siempre, es fundamental que respetes tus propios límites, tiempos y ritmos naturales. No te
                esfuerces o vayas más allá de lo que te resulte cómodo o tolerable. Sentite libre de pausar o
                simplemente dejar cualquier parte de esta clase si te llegara a resultar demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=566782258 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Qué has descubierto sobre vos en estas 10 semanas que hemos compartido? ¿Algo que te haya sorprendido?</li>
                <li>¿Qué cambios has notado hasta ahora con respecto a: tus pensamientos, tus emociones, tus niveles de energía, tu conexión con el cuerpo y con otras personas?</li>
                <li>¿En qué áreas querés seguir profundizando y trabajando?</li>
                <li>¿En qué áreas te hace falta apoyo en este momento? (No me refiero a áreas en las que querés que otras personas actúen diferente, sino a qué áreas te resultan difíciles y necesitás ayuda).</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo de experiencia tuviste y qué significa para vos. Hoy vamos llegando
                al final del viaje, y está bueno tomarse un momento para recordar las experiencias que has tenido.
            </p>
            <p>
                Hoy vamos a seguir jugando un poquito con una última idea que te he traído para ayudarte a poner todo lo
                que hemos aprendido en acción. ¡Te invito a profundizar!
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=566781443 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Y te invito a que sigamos esta receta para ver cómo te resulta el proceso. A medida que me vas
                escuchando, animate a ir pausando para darte tiempo de hacer tu propia práctica y seguir tus ideas.
            </p>
            <p>
                ¿En qué momentos podrías jugar con esta receta? ¿Cómo podés hacer para tenerla a mano y recordarla?
                Anotá con libertad todas las ideas que tengas, aunque no sepas si las vas a poder hacer o no.
                Mientras más te permitas jugar con esta idea, más inspiración y libertad vas a tener 😊
            </p>
            <p>
                {% include vimeo.html id=566781238 %}
            </p>
            <p>
                Y acá te dejo la receta  por si las querés bajar e imprimir: (hacé click  en la imagen para descargarla).
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_receta_casi_infalible %}
            </p>
            <p>
                Como siempre te sugiero que no te apures, que juegues y explores esta herramienta por unos 6 o 7 días.
                Y sentite libre de volver a las clases anteriores así podés nuevamente jugar con las prácticas y
                recordar lo temas vistos.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">¡Hasta pronto!</h1>
        <div class="text">
            <p>
                {% include vimeo.html id=566782388 %}
            </p>
        </div>
    </div>
</section>
