---
layout: curso_renovate
title: Jugando en la Montaña Rusa de la Neuro-Regulación
description: Sesión 5
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "/res/courses/renovate/audio/session5-spanish-somaticexploration.mp3"
    doc_experiencia_impulso_balance:
        href: /res/courses/renovate/docs/pies-experiencia-interna-impulso-balance.pdf
        filename: PIES - Experiencia Interna - Impulso - Balance.pdf
        thumbnail: /res/courses/renovate/img/pies-experiencia-interna-impulso-balance_thumbnail.png
        alt: PIES - Experiencia Interna, Impulso y Balance
---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Para que puedas seguir profundizando con seguridad y confianza, una vez más te pido que, por favor,
                respetes tus propios límites, tiempos y ritmos naturales. No te esfuerces o vayas más allá de lo que te
                resulte cómodo o tolerable. Sentite libre de pausar, saltear o simplemente dejar cualquier parte de esta
                clase si te llegara a resultar demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=552305636 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Qué descubro al observar la situación vivida como si fuese una escena de una película?</li>
                <li>Al intentar conectarme con las sensaciones físicas que sentía en mi cuerpo en ese momento, ¿de qué me doy cuenta?</li>
                <li>¿Me resulta más claro observar las emociones de esta manera?</li>
                <li>¿Y qué visión del mundo y de mi propio ser sostenía?</li>
                <li>¿Y qué descubro al tratar de observar la situación desde el punto de vista de la otra persona? ¿Cambió mi punto de vista?</li>
                <li>¿Qué impulsos parecen estar presentes, co-creando esta situación?</li>
                <li>¿Y qué me traería balance a mi? ¿Y a la otra persona?</li>
                <li>¿Qué posibilidades imagino podrían surgir al invitar balance a esta situación? ¿Qué sería diferente?</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
            <p>
                Tomate todo el tiempo que necesites antes de continuar. Hoy vamos a seguir jugando un poquito más con lo
                que hemos descubierto a partir de esta exploración.
            </p>
            <p>
                {% include vimeo.html id=552304836 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=552305042 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Sigamos jugando con la herramienta que exploramos hoy, así te resulta cada vez más sencillo y más
                beneficioso usarla.
            </p>
            <p>
                {% include vimeo.html id=552304920 %}
            </p>
            <p>
                Y acá te dejo la plantilla que mostré por si la querés bajar o usar como modelo (hacé click en la
                imágen para descargarla):
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_experiencia_impulso_balance %}
            </p>
            <p>
                Como siempre te sugiero que no te apures, que juegues y explores esta herramienta por unos 6 o 7 días,
                antes de continuar con la clase número 6. Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>
