---
layout: curso_renovate
title: Entendiendo el Sistema de Vigilancia de tu Cuerpo
description: Sesión 1
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg

res:
    audio_exploration: "/res/courses/renovate/audio/session1_somaticexploration_spanish.mp3"
    audio_practice: "/res/courses/renovate/audio/session1_practice_spanish.mp3"
    img_characters: "/res/courses/renovate/img/characters.png"
---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Te damos la bienvenida a nuestro primer encuentro. Y te recordamos que al ser este un trabajo
                No-Supervisado, es fundamental que respetes tu propios límites, tiempos y ritmos naturales. No te
                esfuerces o vayas más allá de lo que te resulte cómodo o tolerable. Sentite libre de pausar, saltear o
                simplemente dejar cualquier parte de esta clase si te llegara a resultar demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=540510936 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                La exploración somática de hoy nos invita a descubrir distintos aspectos, distintas partes de quienes
                somos, que se manifiestan a diario en nuestra vida, y que en mayor o menor medida la mayoría de las
                personas podemos reconocer.
            </p>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
                <ul>
                    <li>¿Cómo me siento en el cuerpo cuando cada una de las distintas partes que estamos explorando están presentes?</li>
                    <li>¿Cómo me siento en la  mented cuando cada una de las distintas partes que estamos explorando están presentes?</li>
                    <li>¿Cómo cambia mi respiración? ¿Y qué pasa con mi tensión muscular?</li>
                    <li>¿Cuál es mi visión del mundo y cómo cambia al presentarse cada parte?</li>
                    <li>¿Cuál es mi visión de mi misma/o  y cómo cambia al presentarse cada parte?</li>
                    <li>¿Y qué pasa con mis emociones? ¿Qué emociones se presentan con mayor facilidad con cada parte?</li>
                    <li>¿Y qué sucede con mis pensamientos? ¿Cambia mi forma de pensar al presentarse cada parte?</li>
                </ul>
            <p>
                Una vez completada la exploración, te invito a que te tomes unos momentos para reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos; tal vez quieras tomar notas o simplemente tomarte un tiempo antes de continuar.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=540615857 %}
            </p>
            <p>
                Y por si querés recordar los personajes de nuestra historia, que tan amorosamente nos acompañan, te los dejo acá:
            </p>
            <p>
                <img src="{{ page.res.img_characters }}" alt="personajes">
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Las prácticas son fundamentales ya que nos ayudan a familiarizarnos con los conceptos que aprendemos, y
                a tener las herramientas que necesitamos para empezar a regular nuestras respuestas ante diferentes
                situaciones.
            </p>
            <p>
                La práctica de hoy es llamada <strong>"Nombrar para Regular"</strong> y te la explico en el audio que sigue:
            </p>
            <p>
                {% include audio.html file=page.res.audio_practice %}
            </p>
            <p>
                Te invito a que juegues y explores esta práctica, por unos 6 o 7 días, antes de continuar con la clase
                número 2. Por favor, no te apures! Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>
