---
layout: curso_renovate
title: Recobrando el Poder del Presente
description: Sesión 3
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg

res:
    audio_exploration: "/res/courses/renovate/audio/session3-spanish-somaticexploration.mp3"
    doc_pies_experiencia_interna:
        href: /res/courses/renovate/docs/pies-experiencia-interna.pdf
        filename: PIES experiencia interna.pdf
        thumbnail: /res/courses/renovate/img/pies-experiencia-interna_thumbnail.png
        alt: Plantilla PIES experiencia interna
    doc_de_la_historia_a_la_experiencia:
        href: /res/courses/renovate/docs/de-la-historia-a-la-experiencia.pdf
        filename: De la historia a la experiencia.pdf
        thumbnail: /res/courses/renovate/img/de-la-historia-a-la-experiencia_thumbnail.png
        alt: Plantilla de la Historia a la Experiencia
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                ¡Te doy la bienvenida a la clase 3! Por favor recordá que es fundamental que respetes tus propios
                límites, tiempos y ritmos naturales. No te esfuerces o vayas más allá de lo que te resulte cómodo o
                tolerable. Sentite libre de pausar, saltear o simplemente dejar cualquier parte de esta clase si te
                llegara a resultar demasiado desafiantes. Que disfrutes!
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=545377628 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Y qué sensaciones están presentes en mi cuerpo en este momento?</li>
                <li>¿Y qué emoción o emociones siento en mi interior?</li>
                <li>¿Qué imagen(es) es(son) la(s) que surgen cuando me conecto con esta experiencia interior?</li>
                <li>¿Qué pensamiento, simple y concreto, está presente en mi mente ahora?  ¿Cuál idea es la que mi mente está sosteniendo en este momento?</li>
                <li>¿Y qué visión del mundo y de mi propio ser sostengo ahora?</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
            <p>
                Tomate todo el tiempo que necesites antes de continuar.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=545378097 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Y una vez más nos tomamos el tiempo para jugar con estas herramientas que vamos aprendiendo, para
                familiarizarnos con ellas, para descubrir cómo y cuándo nos ayudan, y para que  su uso nos resulte cada
                vez más sencillo.
            </p>
            <p>
                La práctica de hoy profundiza la herramienta con la que jugamos en nuestra exploración: <strong>"Notar
                y permitir"</strong>, y en el video que sigue te cuento más:
            </p>
            <p>
                {% include vimeo.html id=545377992 %}
            </p>
            <p>
                Te dejo acá las plantillas usamos en esta sesión por si querés usarlas como modelo:
            </p>
            <p>
                <strong>Hacé click en las imágenes para descargar las plantillas: </strong>
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_pies_experiencia_interna %}
                {% include doc-download.html doc=page.res.doc_de_la_historia_a_la_experiencia %}
            </p>
            <p>
                Como con las herramientas que exploramos anteriormente, te invito a que juegues y explores esta
                práctica, por unos 6 o 7 días, antes de continuar con la clase número 4. Por favor, no te apures!
            </p>
            <p>
                Mientras más tiempo le des a cada práctica, mayor va a ser tu capacidad de profundizarla, conocerla,
                comprenderla, y poder accederla luego en esos momentos cuando de verdad la necesites.
            </p>
        </div>
    </div>
</section>

