---
layout: curso_renovate
title: Dime con quién andas...
description: Sesión 4
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg

res:
    audio_exploration: "/res/courses/renovate/audio/session4-spanish-somaticexploration.mp3"
    doc_arbol:
        href: /res/courses/renovate/docs/arbol-regulacion.pdf
        filename: Arbol - Co y Auto regulacion.pdf
        thumbnail: /res/courses/renovate/img/arbol-regulacion_thumbnail.png
        alt: Árbol de la Co- y Auto- regulacion

---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Seguimos profundizando en este, nuestro cuarto encuentro, y una vez más te pido que, por favor, respetes
                tus propios límites, tiempos y ritmos naturales. No te esfuerces o vayas más allá de lo que te resulte
                cómodo o tolerable. Sentite libre de pausar, saltear o simplemente dejar cualquier parte de esta clase
                si te llegaran a resultar demasiado desafiantes.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=548319685 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Qué descubro al observar la situación vivida como si fuese una escena de una película?</li>
                <li>Al intentar conectarme con las sensaciones físicas que sentía en mi cuerpo en ese momento, ¿de qué me doy cuenta?</li>
                <li>¿Me resulta más claro observar las emociones de esta manera? ¿Me dí cuenta de que estaban presentes emociones que no había notado anteriormente?</li>
                <li>¿Qué imagen(es) es(son) la(s) que surgen cuando observo esta situación como una escena?</li>
                <li>¿Qué idea, simple y concreta, estaba presente en mi mente en esa escena?</li>
                <li>¿Y qué visión del mundo y de mi propio ser sostenía?</li>
                <li>¿Había considerado anteriormente la situación desde el punto de vista de la otra persona?</li>
                <li>¿Es similar lo que pensaba anteriormente sobre la otra persona, y lo que percibí al explorar, o cambió mi punto de vista?</li>
                <li>¿Qué descubro respecto de mi interacción con la otra persona?</li>
                <li>¿Qué características tuvo la escena que co-creamos?</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
            <p>
                Tomate todo el tiempo que necesites antes de continuar. Hoy vamos a seguir jugando un poquito más con lo
                que hemos descubierto a partir de esta exploración.
            </p>
            <p>
                {% include vimeo.html id=548318462 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=548319089 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Te invito a seguir jugando con la herramienta que exploramos hoy, así te resulta cada vez más sencillo
                y más beneficioso usarla.
            </p>
            <p>
                {% include vimeo.html id=548318990 %}
            </p>
            <p>
                Y acá te dejo la plantilla que mostré por si la querés bajar o usar como modelo (hacé click en la
                imágen para descargarla):
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_arbol %}
            </p>
            <p>
                Como siempre te sugiero que no te apures, que juegues y explores esta herramienta por unos 6 o 7 días,
                antes de continuar con la clase número 5. Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>
