---
layout: curso_renovate
title: Ampliando Nuestra Zona de Confort
description: Sesión 7
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "/res/courses/renovate/audio/session7-spanish-somaticexploration.mp3"
    doc_ventana_de_tolerancia:
        href: /res/courses/renovate/img/ventana_de_tolerancia.png
        filename: ventana de tolerancia.png
        thumbnail: /res/courses/renovate/img/ventana_de_tolerancia_thumbnail.png
        alt: Ventana de Tolerancia
    doc_practicas_de_movimiento_tacto:
        href: /res/courses/renovate/img/practicas_movimiento_tacto.png
        filename: practicas de movimiento y tacto.png
        thumbnail: /res/courses/renovate/img/practicas_movimiento_tacto_thumbnail.png
        alt: Prácticas de movimiento y tacto
---


<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                En este, nuestro encuentro número 7, vamos a estar explorando distintas formas de movernos, de respirar,
                y de acariciarnos, por esto te pido una vez más que, por favor, respetes tus propios límites, tiempos y
                ritmos naturales. No te esfuerces o vayas más allá de lo que te resulte cómodo o tolerable. Sentite
                libre de pausar, saltear o simplemente dejar cualquier parte de esta clase si te llegara a resultar
                demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=557907137 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>Esta semana que pasó, ¿me pude dar cuenta cuando estaba en una ola de desregulación o me di cuenta después?</li>
                <li>¿Y qué me ayudó a navegar esa ola? ¿Qué me ayudó luego, al darme cuenta de esa ola?</li>
                <li>¿Es mi tendencia predominante hacia el Caos o la Rigidez?</li>
                <li>¿Cómo me doy cuenta de que el Caos o la Rigidez estarán presentes en mi interior?</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
            <p>
                Tomate todo el tiempo que necesites antes de continuar. Hoy vamos a seguir jugando un poquito más con
                algunas prácticas que nos ayudan a la regulación y con un concepto que nos sirve para darnos cuenta en
                qué momentos puede que estemos actuando desde la desregulación. Te invito a profundizar!
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=557906647 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Te invito a jugar con las formas de movernos, respirar, y acariciarnos que exploramos hoy:
            </p>
            <p>
                {% include vimeo.html id=557906613 %}
            </p>
            <p>
                Y acá te dejo las imagenes que mostré por si las querés bajar o usar como modelo: (hacé click para
                descargarlas).
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_ventana_de_tolerancia %}
                {% include doc-download.html doc=page.res.doc_practicas_de_movimiento_tacto %}
            </p>
            <p>
                Como siempre te sugiero que no te apures, que juegues y explores esta herramienta por unos 6 o 7 días,
                antes de continuar con la clase número 8. Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>
