---
layout: curso_renovate
title: Cultivando tu Propio Espacio Interior
description: Sesión 9
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "/res/courses/renovate/audio/session9-spanish-somaticexploration.mp3"
    doc_estoy_a_salvo:
        href: /res/courses/renovate/docs/estoy-a-salvo.pdf
        filename: estoy a salvo.pdf
        thumbnail: /res/courses/renovate/img/estoy-a-salvo_thumbnail.png
        alt: Estoy a salvo
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                ¡Te doy la bienvenida a la sesión 9! Hoy vamos a jugar con una práctica un tanto diferente,
                conectándonos con la comodidad, el soporte y el sentirnos a salvo. Como siempre, es fundamental que
                respetes tus propios límites, tiempos y ritmos naturales. No te esfuerces o vayas más allá de lo que te
                resulte cómodo o tolerable. Sentite libre de pausar o simplemente dejar cualquier parte de esta clase si
                te llegara a resultar demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=564846840 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Cómo te sentiste al tomarte el tiempo para acomodarte? ¿Lo pudiste hacer o notaste un cierto apuro?</li>
                <li>¿Qué te dio más comodidad y qué te trajo una sensación de mayor bienestar?</li>
                <li>¿Hubo algo que te resultara difícil o desafiante?</li>
                <li>¿Te pudiste sentir segura/o y soltarte durante la práctica?</li>
                <li>¿Cómo te sentiste al terminar?</li>
                <li>¿Descubriste algo nuevo sobre vos en esta práctica? ¿O encontraste algo sobre lo que quieras seguir explorando?</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Hoy te invito a que sigas explorando la propuesta de esta práctica y veas qué cosas (pequeñas o grandes)
                podés incorporar en tu día a día con el objetivo de tener una mayor sensación de comodidad y de
                seguridad. No sólo al acostarte sino que durante todo el día!
            </p>
            <p>
                ¿En qué momentos podrías jugar con esta idea?
            </p>
            <p>
                ¿Qué se te ocurre que podrías hacer? Anotá con libertad todas las ideas que tengas, aunque no sepas si
                las vas a poder hacer o no. Mientras más te permitas jugar con estas ideas, más inspiración y libertad
                vas a tener para aplicar las que te sirvan :)
            </p>
            <p>
                Y acá te dejo esta imagen por si la querés imprimir para tenerla de recordatorio: (hacé click para
                descargarla).
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_estoy_a_salvo %}
            </p>
            <p>
                Como siempre te sugiero que no te apures, que juegues y explores esta práctica por unos 6 o 7 días,
                antes de continuar con la clase número 10. Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>
