---
layout: curso_renovate
title: Explorando el Paisaje Interior
description: Sesión 2
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg

res:
    audio_exploration: "/res/courses/renovate/audio/session2-somaticexploration1-spanish.mp3"
    img_polivagal_chart: "/res/courses/renovate/img/polyvagal-chart-charcters-spanish-1.png "
    img_characters: "/res/courses/renovate/img/characters_polyvagal.png"
    doc_pies:
        href: /res/courses/renovate/docs/pies.pdf
        filename: pies.pdf
        thumbnail: /res/courses/renovate/img/pies_thumbnail.png
        alt: Descargar modelo PIES
---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                ¡Te damos nuevamente la bienvenida a Renovate! Y te recordamos que al ser este un trabajo
                No-Supervisado, es fundamental que respetes tu propios límites, tiempos y ritmos naturales. No te
                esfuerces o vayas más allá de lo que te resulte cómodo o tolerable. Sentite libre de pausar, saltear o
                simplemente dejar cualquier parte de esta clase si te llegara a resultar demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=543931490 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                Con la exploración de hoy empezamos a descubrir distintas herramientas para volver a traer a nuestro
                presente una sensación de calma y seguridad. Lo único que vas a necesitar es algo para anotar (hoja y
                lapiz, tal vez?). Espero que la disfrutes!
            </p>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Qué pensamiento, simple y concreto, me ayuda a conectarme con una sensación de seguridad y calma interior?</li>
                <li>¿Y qué imagen, clara en mi mente, me ayuda a reforzar esa sensación de seguridad y calma interior?</li>
                <li>¿Qué emoción puedo invitar a mi realidad interior para anclar esa sensación de seguridad y calma interior?</li>
                <li>¿Y qué sensación puedo evocar que me permita sentir con mayor claridad esa sensación de seguridad y calma interior?</li>
            </ul>
            <p>
                {% include vimeo.html id=543931227 %}
            </p>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
            <p>
                Tomate todo el tiempo que necesites antes de continuar.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=543931336 %}
            </p>
            <p>
                Y por si querés volver al ver el gráfico que usamos, o recordar nuestros personajes, acá te los dejo:
            </p>
            <p>
                <img src="{{ page.res.img_polivagal_chart }}" alt="diagrama polivago">
            </p>
            <p>
                <img src="{{ page.res.img_characters }}" alt="personajes">
            </p>
            <p>
                Y ante algunas preguntas que surgieron durante esta sesión, te dejo este breve comentario sobre Covid.
            </p>
            <p>
                {% include vimeo.html id=543931667 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Como ya sabés, estas prácticas son fundamentales. Son la base que necesitamos para empezar a regular
                nuestras respuestas ante diferentes situaciones.
            </p>
            <p>
                La práctica de hoy profundiza la herramienta con la que jugamos en nuestra exploración: <strong>"PIES -
                Ancla al Presente Seguro"</strong>, y en el video que sigue te cuento más:
            </p>
            <p>
                {% include vimeo.html id=543931289 %}
            </p>
            <p>
                Y si querés usar el modelo que mostré en el video, te lo dejo acá para que lo imprimas.
            </p>
            <p>
                <strong>Hacé click en la imágen para descargar el PDF: </strong>
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_pies %}
            </p>
            <p>
                Te invito a que juegues y explores esta práctica, por unos 6 o 7 días, antes de continuar con la clase
                número 3. Por favor, no te apures! Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>
