---
layout: curso_renovate
title: Cambiando Nuestro Foco
description: Sesión 8
course_id: renovate
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "/res/courses/renovate/audio/session8-spanish-somaticexploration.mp3"
    doc_arbol_ampliado:
        href: /res/courses/renovate/docs/arbol-ampliado.pdf
        filename: Arbol Ampliado.pdf
        thumbnail: /res/courses/renovate/img/arbol-ampliado_thumbnail.png
        alt: Árbol ampliado
    doc_rueda_de_la_consciencia:
        href: /res/courses/renovate/docs/wheel-of-awareness.pdf
        filename: Rueda de la Consciencia.pdf
        thumbnail: /res/courses/renovate/img/wheel-of-awareness_thumbnail.png
        alt: Rueda de la consciencia
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                En este, nuestro encuentro número 8, vamos a estar explorando nuestros sentidos. Como siempre, es
                fundamental que respetes tus propios límites, tiempos y ritmos naturales. No te esfuerces o vayas más
                allá de lo que te resulte cómodo o tolerable. Sentite libre de pausar o simplemente dejar cualquier
                parte de esta clase si te llegara a resultar demasiado desafiante.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Introducción</h1>
            <p>
                {% include vimeo.html id=560763651 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Exploración</h1>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
            <p>
                Las preguntas sobre las que esta exploración nos invita a reflexionar son:
            </p>
            <ul>
                <li>¿Qué flujo de percepciones te es más familiar: los primeros cinco sentidos, sensaciones corporales
                    (sexto sentido), actividades mentales (séptimo sentido), la interconexión (octavo sentido)?</li>
                <li>¿Cuáles me resultan más difíciles de percibir?</li>
                <li>¿Cómo es apuntar la atención a voluntad a estos distintos sentidos?</li>
                <li>¿Qué sentido suele ser más regulador para mi? ¿Y cuál suele ser desregulador?</li>
            </ul>
            <p>
                Como siempre, una vez completada la exploración, te invito a que te tomes unos momentos para
                reflexionar, sentirte, ver qué tipo es experiencia tuviste y qué significa para vos.
            </p>
            <p>
                Tomate todo el tiempo que necesites antes de continuar. Hoy vamos a seguir jugando un poquito más con
                algunas prácticas que nos ayudan a explorar los distintos sentidos y descubrir cómo afectan nuestra
                experiencia. ¡Te invito a profundizar!
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Profundizando</h1>
            <p>
                {% include vimeo.html id=560763456 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">A practicar!</h1>
        <div class="text">
            <p>
                Hoy te invito a jugar con estas formas de contactar y explorar nuestros sentidos:
            </p>
            <p>
                {% include vimeo.html id=560763379 %}
            </p>
            <p>
                Y acá te dejo las plantillas que mostré por si las querés bajar o usar como modelo: (hacé click para
                descargarlas).
            </p>
            <p>
                {% include doc-download.html doc=page.res.doc_arbol_ampliado %}
                {% include doc-download.html doc=page.res.doc_rueda_de_la_consciencia %}
            </p>
            <p>
                Como siempre te sugiero que no te apures, que juegues y explores esta herramienta por unos 6 o 7 días,
                antes de continuar con la clase número 9. Mientras más tiempo le des a cada práctica, mayor va a ser tu
                capacidad de profundizarla, conocerla, comprenderla, y poder accederla luego en esos momentos cuando de
                verdad la necesites.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">En la próxima</h1>
        <div class="text">
            <p>
                Y para nuestra clase 9 vamos a necesitar un poquito de preparación. En el siguiente video te cuento:
            </p>
            <p>
                {% include vimeo.html id=560763306 %}
            </p>
        </div>
    </div>
</section>
