---
locale: en
date: 2022-02-06
title: Programmes and Offerings for 2022
description: ""
wide: true
tags:
  - articles
image: https://source.unsplash.com/Wqs6qly3T50/2000x1322?a=.png
image-overlay: true
author_practitioner: celeste
permalink: /offerings-2022/
unsplash:
  name: Debby Hudson
  user: hudsoncrafted
custom_javascript:
  - src: 'https://cdn.emailjs.com/sdk/2.2.4/email.min.js'
  - src: '/js/contact.js'

---
<p>
Thank you for being here and choosing to explore what we can do together this year. As things are ever-evolving with the
times, I've been putting a lot of thought into what I can best offer my clients - present and future - and how to
deliver the best of my sessions, courses and workshops so you get the most out of them.
</p>

<p>
Below you'll find three different offerings to suit different needs. Please take your time to read through and feel for
where you'd like to go right now on your journey of self-exploration and wellbeing.
</p>

<section class="info modality">
  <div class="container flex">
    <div class="text">
      <h2><a href="/offering/one-on-one/">1:1 Sessions</a></h2>
      <div class="modality-content">
        <p>
          A whole 90-minute session dedicated to you. One-on-one sessions include bodywork, embodied counselling and
          somatic explorations. Each session can look and feel different, and will be guided by what you'd like to
          explore. Available online from February 2022 and in-person in Sydney from March 2022.
        </p>
        <p>
          <strong>Perfect for:</strong> Clients who prefer a personalised approach to the therapeutic process where you
          can explore and uncover your journey in safe and private space.
        </p>
        <div class="button"><a href="/offering/one-on-one/">Learn More</a></div>
      </div>
    </div>

    <div class="image">
      <img src="/images/one-on-one-thumbnail.jpg" alt="1:1 Sessions thumbnail" />
    </div>
  </div>
</section>

<section class="info modality">
  <div class="container flex">
    <div class="text">
      <h2><a href="/offering/intensive-programme/">Intensive Programme</a></h2>
      <div class="modality-content">
        <p>
          A 3-month programme delivered via Zoom. This programme is based on my doctoral dissertation and is focused on
          helping you develop skills to better cope with situations, be grounded, present and develop self-compassion
          and capacity to regulate and find balance.
        </p>
        <p>
          <strong>Perfect for:</strong> Anyone who is interested in a learning-oriented therapeutic process and anyone
          who is seeking support or a boost to their current therapeutic sessions. Also ideal for those who are not able
          to commit to long-term sessions at the moment but want to begin their journey towards self-exploration.
        </p>
        <div class="button"><a href="/offering/intensive-programme/">Discover More</a></div>
      </div>
    </div>

    <div class="image">
      <img src="/images/programme-thumbnail.jpg" alt="Intensive Programme thumbnail" />
    </div>
  </div>
</section>

<section class="info modality">
  <div class="container flex">
    <div class="text">
      <h2><a href="/offering/somatic-explorations/">Explorations and Self-discovery</a></h2>
      <div class="modality-content">
        <p>
          Weekly <strong>free-of-charge</strong> self-exploration sessions to develop more embodied awareness, presence,
          equanimity, compassion and aliveness. You'll learn various techniques and practices to deepen these skills as
          well as explore aspects of your mental and emotional self. No commitment necessary. Available from March 2022.
        </p>
        <p>
          <strong>Perfect for:</strong> Anyone new to the journey of self-discovery and self-exploration as well as
          those who are seeking more of a somatic approach to support their ongoing therapeutic journey.
        </p>
        <div class="button"><a href="/offering/somatic-explorations/">Learn More</a></div>
      </div>
    </div>

    <div class="image">
      <img src="/images/explorations-thumbnail.jpg" alt="Explorations and Self-discovery thumbnail" />
    </div>
  </div>
</section>

<p>
  If you have any questions at all about these offerings, please feel free to fill out the contact form below or reach
  out to me at {% include email.html %}, and I'll get back to you as soon as I can.
</p>

{% include contact-form.html %}
