---
layout: course_reset-yourself
title: Shift really does happen
description: Session 8
course_id: reset-yourself
excerp: >
    Exploring The Wheel of Awareness helps us develop three key skills: being able to aim our attention at will, being
    able to recognize what might be contributing to a dysregulated inner state, and finding a self-regulating resource.
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "https://media.idealuna.com/reset-yourself/session8-somaticexploration-english.mp3"
    doc_wheel_of_awareness:
        href: "/res/courses/reset-yourself/img/wheel-of-awareness.png"
        thumbnail: "/res/courses/reset-yourself/img/wheel-of-awareness.png"
        filename: wheel-of-awareness.png
        alt: Wheel of awareness
    doc_tree_and_senses:
        href: "/res/courses/reset-yourself/img/tree-and-senses.png"
        thumbnail: "/res/courses/reset-yourself/img/tree-and-senses.png"
        filename: tree-and-senses.png
        alt: Tree and senses
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Welcome to session 8! What a wonderful journey towards balance and wellbeing! I hope you are having a
                great time and continue to cultivate safety in you and all around. As always, please remember that to
                have a safe experience as you go through this unsupervised work, it is essential to be mindful of and
                respect your own limits, times and natural rhythms. Don't push yourself or go beyond what is comfortable
                or feels right for you. Feel free to pause, skip, or just leave for another moment any part of this
                class if it becomes overwhelming or challenging for you.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Intro</h1>
            <p>
                {% include vimeo.html id=660841773 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Let's Explore</h1>
            <p>
                Today we explore our senses and how they inform our inner state. Remember to do this exploration
                grounded in your curiosity and compassion for yourself. As always, our intention is to cultivate a sense
                of inner safety and balance. I hope you enjoy it!
            </p>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Grounding Our Exploration</h1>
            <p>
                After the exploration, whenever you're ready, I invite you to consider the following ideas and
                practices. You might want to journal, take notes, or simply spend some time with yourself before moving
                on to the next section.
            </p>
            <p>
                Feel free to spend as much time as you need with this section. It is meant to help you explore yourself
                even further and increase your awareness.
            </p>
            <p>
                {% include vimeo.html id=661117126 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">In Depth</h1>
            <p>
                {% include vimeo.html id=661117781 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">Play & Practice</h1>
        <div class="text">
            <p>
                <i>Practice makes the master</i>. I invite you to give these practices a try for the next 7 to 10 days
                and see what starts to happen and change in your day to day experience. The more you play and use these
                tools, the more they will be accessible in challenging moments and the more changes you'll start noticing.
            </p>
            <p>
                {% include vimeo.html id=661540232 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">Getting Ready for Session 9</h1>
        <div class="text">
            <p>
                {% include vimeo.html id=661540423 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">For Your Toolbox</h1>
        <div class="text">
            <p>Click on the image to download</p>
            <p>
                {% include doc-download.html doc=page.res.doc_wheel_of_awareness %}
                {% include doc-download.html doc=page.res.doc_tree_and_senses %}
            </p>
        </div>
    </div>
</section>
