---
layout: course_reset-yourself
title: Expanding our comfort zone
description: Session 7
course_id: reset-yourself
excerp: >
    How to widen our Window of Tolerance. Our skills to self-regulate are strengthened by a new series of somatic
    practices based on breath, touch and movement – all of which are considered fundamental dimensions to accessing and
    regulating our inner state.
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "https://media.idealuna.com/reset-yourself/session7-somaticexploration-english.mp3"
    doc_window_of_tolerance:
        href: "/res/courses/reset-yourself/img/window-of-tolerance.png"
        thumbnail: "/res/courses/reset-yourself/img/window-of-tolerance.png"
        filename: window-of-tolerance.png
        alt: Window of tolerance
    doc_regulating_practices:
        href: "/res/courses/reset-yourself/img/regulating-practices.png"
        thumbnail: "/res/courses/reset-yourself/img/regulating-practices.png"
        filename: regulating-practices.png
        alt: Regulating practices
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Welcome to session 7! We keep exploring ourselves and bringing a sense of balance to our inner
                experience. As always, please remember that to have a safe experience as you go through this
                unsupervised work, it is essential to be mindful of and respect your own limits, times and natural
                rhythms. Don't push yourself or go beyond what is comfortable or feels right for you. Feel free to
                pause, skip, or just leave for another moment any part of this class if it becomes overwhelming or
                challenging for you.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Intro</h1>
            <p>
                {% include vimeo.html id=658457009 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Let's Explore</h1>
            <p>
                Today we start increasing our awareness of dysregulated inner states and how to know when they might be
                showing up. As always, we do this with curiosity and compassion for ourselves, with the intention of
                bringing more balance to our inner state. I hope you enjoy it!
            </p>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Grounding Our Exploration</h1>
            <p>
                After the exploration, whenever you're ready, I invite you to consider the following ideas and
                practices. You might want to journal, take notes, or simply spend some time with yourself before moving
                on to the next section.
            </p>
            <p>
                Feel free to spend as much time as you need with this section. It is meant to help you explore yourself
                even further and increase your awareness.
            </p>
            <p>
                {% include vimeo.html id=658466533 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">In Depth</h1>
            <p>
                {% include vimeo.html id=660559565 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">Play & Practice</h1>
        <div class="text">
            <p>
                <i>Practice makes the master</i>. I invite you to give these practices a try for the next 7 to 10 days
                and see what starts to happen and change in your day to day experience. The more you play and use these
                tools, the more they will be accessible in challenging moments and the more changes you'll start noticing.
            </p>
            <p>
                {% include vimeo.html id=660597219 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">For Your Toolbox</h1>
        <div class="text">
            <p>Click on the image to download</p>
            <p>
                {% include doc-download.html doc=page.res.doc_window_of_tolerance %}
                {% include doc-download.html doc=page.res.doc_regulating_practices %}
            </p>
        </div>
    </div>
</section>
