---
layout: course_reset-yourself
title: Cultivating your own inner safe space
description: Session 9
course_id: reset-yourself
excerp: >
    We explore an embodied experience of safety and protection. This practice conveys three main messages that are
    fundamental for the emergence of a healthy inner state: I exist. I am protected and safe. My needs matter.
available: true
thumbnail: /images/wallart-thumbnail.jpg
res:
    audio_exploration: "https://media.idealuna.com/reset-yourself/session9-somaticexploration-english.mp3"
    doc_nurturing_messages:
        href: "/res/courses/reset-yourself/img/nurturing-messages.png"
        thumbnail: "/res/courses/reset-yourself/img/nurturing-messages.png"
        filename: nurturing-messages.png
        alt: Nurturing messages
---
<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                Welcome to session 9! How amazing it is that you're taking this time to cultivate safety within yourself
                and all around you. As always, please remember that to have a safe experience as you go through this
                unsupervised work, it is essential to be mindful of and respect your own limits, times and natural
                rhythms. Don't push yourself or go beyond what is comfortable or feels right for you. Feel free to
                pause, skip, or just leave for another moment any part of this class if it becomes overwhelming or
                challenging for you.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Intro</h1>
            <p>
                Today we explore an embodied experience of safety, support and protection. This practice conveys three
                main messages that are fundamental for the emergence of a healthy inner state: I exist. I am protected
                and safe. My needs matter.
            </p>
            <p>
                Remember to do this exploration grounded in your curiosity and compassion for yourself. As always, our
                intention is to cultivate a sense of inner safety and balance.
            </p>
            <p>
                {% include vimeo.html id=662530256 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">In Depth</h1>
            <p>
                {% include vimeo.html id=662532555 %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <h1 class="new">Let's Explore</h1>
            <p>
                Please make sure that you have everything ready for the exploration and that you won't be interrupted.
                Remember that you can choose to have a support person who is simply there in case you need anything.
            </p>
            <p>
                Hope you enjoy this exploration.
            </p>
            <p>
                {% include audio.html file=page.res.audio_exploration %}
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <h1 class="new">For Your Toolbox</h1>
        <div class="text">
            <p>Click on the image to download</p>
            <p>
                {% include doc-download.html doc=page.res.doc_nurturing_messages %}
            </p>
        </div>
    </div>
</section>
