---
layout: default
---

<section class="hero half-hero" style="background-image: url(https://source.unsplash.com/0gkw_9fy0eQ/2000x1322?a=.png})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Resources</h1>
			<p class="subtext editable">
				We're happy to share with you our latest news and events, as well as impactful resources, insightful articles and personal reflections
			</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="change-category">You're currently looking at entries categorised under <strong>{{ page.title }}</strong>. <a href="{{ site.baseurl }}/resources/">View all articles</a> instead.</p>

		<ul class="blog-posts">
			{% include list-posts.html posts=page.posts %}
		</ul>
	</div>
</section>
