---
layout: page
course: renovate

image: https://source.unsplash.com/2nZuBzWO-9A/2000x1322?a=.png

unsplash:
    name: Deepak Kumar
    user: deepak890k
half-hero: true
---

{{ content }}

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <p>
                <a href="/cursos/#class-index">Volver al índice de sesiones</a>.
            </p>
        </div>
    </div>
</section>

<section class="info logo-bg-color">
    <div class="container">
        <div class="text">
            <p>
                Si en este explorar te das cuenta de que necesitás apoyo adicional, o si querés profundizar en estas
                prácticas, o tenés alguna sugerencia, escribime a: {% include email.html %}
            </p>
        </div>
    </div>
</section>
