{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
    {% include promo.html %}

    {% if site.bookings_enabled %}
        {% include cliniko.html %}
    {% endif %}

    {% include sections.html %}
        {{ content }}
    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ site.map.api_key }}"></script>
    <script src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
    <script src="{{ site.baseurl }}/js/lazysizes.min.js" async></script>
</body>
</html>
