---
layout: default
---
{%- assign locale = page.locale | default: site.data.localization.default -%}
{%- assign title = page.intro-title | default: page.title -%}
{%- assign description = page.intro-description | default: page.description -%}
{%- assign texts = site.data.localization[locale] -%}
{%- assign half-hero = page.half-hero | default: layout.half-hero -%}
{%- assign image = page.image | default: layout.image -%}
{%- assign overlay = page.image-overlay | default: layout.image-overlay -%}
{%- assign unsplash = page.unsplash | default: layout.unsplash -%}
<section class="hero {% if half-hero %}half-hero{% endif %} {% if overlay %}overlay{% endif %}"
		 style="background-image: url({{ image }})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>{{ title }}</h1>
			<p class="subtext">{{ description }}</p>
		</div>
		{%- if unsplash -%}
		<div class="photo-credits">
			{{ texts.photo_by }} <a href="https://unsplash.com/@{{unsplash.user}}">{{ unsplash.name }}</a>
		</div>
		{%- endif -%}
	</div>
</section>

{{ content }}
