<h1>{{ include.data.title }}</h1>
<h4>{{ include.data.summary}}</h4>

<p>
    This is a body-centred mindfulness practice which aims to withdraw from our preconceived ideas and help us become
    aware of who we truly are. In the practice, you will learn new skills that will guide you in taking full ownership
    of your well-being in an autonomous way and by self-motivation. The result is inner satisfaction, a rediscovered
    tranquility, vibrancy and improved social interaction.
</p>

<h4>How it works</h4>

<p>
    We work with breath, movement, gestures, contemplation, polarities and acceptance of the present, which helps us
    slow-down and observe how our present experience is organized in a non-judgemental, non-interpretive, present-based
    point of view.
</p>
<h4>What to expect</h4>
<ul>
    <li>A practice centred around your needs and goals.</li>
    <li>A non-judgemental, present-based, mindful intervention.</li>
    <li>Improved body-mind-emotions connection.</li>
    <li>Release of tension in the body.</li>
    <li>A more integrated sense of self, and improved well-being.</li>
    <li>Work that is done <strong>with</strong> you, not to you.</li>
</ul>

<p>Sessions go for 1hr | Lead by Celeste | $175/session</p>

<a class="close-modal-window scroll highlight-contact-form" href="#top">Begin your journey of true self-discovery.</a>
