<div id="{{ include.section }}-faqs">
    {% for faq in include.data.faqs %}
    {% assign id = include.section | append: '-faq-' | append: forloop.index %}
    <h4 class="question" data-toggle="collapse" data-target="#{{id}}" data-parent="#{{ include.section }}-faqs">
        <svg class="icon icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg>
        {{ faq.q }}
    </h4>
    <div id="{{id}}" class="{{ include.section }}-faqs collapse {% if forloop.index == 1 %}in{% endif %}">
        {% for paragraph in faq.a %}
        <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
