<h1>{{ include.data.title }}</h1>
<h4>{{ include.data.summary}}</h4>

<p>
    Developed in the 20th century by biochemist, Ida Rolf, Rolfing® is also commonly known as Structural Integration.
    It is a technique of soft tissue manipulation aimed at the release and realignment of the body, and the reduction
    of muscular and physical tension. Clients who have tried Rolfing® have reported lower levels of stress and anxiety,
    more energy overall, more at ease in their bodies, more balance in difficult situations, increased self-assurance
    and an ability to display their inner selves more confidently.
</p>

<h4>How it works</h4>

<p>
    Over a course of sessions, a Rolfer addresses the entire fascia network of the body while taking the whole body into
    account, including structural and functional relationships. The practice uses gravity as an ally, which is what
    sets it apart from other types of body work.
</p>
<h4>What to expect</h4>
<ul>
    <li>Alleviation of pain and physical discomfort.</li>
    <li>Positive effects on the mind and body-mind connection.</li>
    <li>Increased body awareness which helps quickly identify and eliminate old movement habits, and find easiness of movement.</li>
    <li>Greater balance and stability.</li>
    <li>Improve posture and enhance breathing.</li>

</ul>

<p>Sessions go for 1hr | Lead by Celeste | $175/session</p>

<a class="close-modal-window scroll highlight-contact-form" href="#top">Rediscover a freer way of moving, living and being.</a>
