<p>
    Bring mindfulness to sex and feel empowered to explore sensuality through intimate, authentic and dynamic
    connections with self and others.
</p>
<p>
    Somatic sex educators teach through body experiences designed to nurture, deepen or awaken the sensual self. These
    experiences can include coaching in breath, movement, body awareness, boundary-setting, communication, anatomy,
    massage, and other body-based teaching about sex. This is a body-centred practice supports individual and personal
    growth, empowerment and integration, and emotional, physical, mental, spiritual and sexual well-being.
</p>
<p>
    In the practice, you will learn and embody new skills that will guide you in meeting or reclaiming your sensual
    identity. With training in direct experiential learning, we apply a client-centred approach to educate and support
    people to become more aware of their bodies, sex and sexuality.
</p>

<h4>How it works</h4>

<p>
    Every person has a different experience of sex and intimacy, these sessions are tailored to you, your needs and
    intentions and broadly encompass talking (e.g. coaching, education) and/or somatic modalities (e.g. body coaching,
    breath-work, movement, massage, sound & voice and/or trauma release). Somatic Sex Educators are professionals who
    support individuals, couples and groups to learn to direct their own erotic development, learn about their bodies,
    sex and sexuality, or work through sexual issues or concerns.
</p>
<h4>What to expect</h4>
<ul>
    <li>A client-led & client-centred approach and with a clear Code of Ethics.</li>
    <li>Education on healthy sexual embodiment and sexual pleasure.</li>
    <li>Support to achieve full potential of sexual embodiment.</li>
    <li>Conscious touch and mindful awareness of your body.</li>
    <li>Coaching to express & voice desires.</li>
    <li>Developing presence within your body, opening awareness, and learning how you can feel present and alive.</li>
    <li>A greater sense of self in intimacy & relationships.</li>
    <li>Empowering learnings to understand and respect your boundaries & consent.</li>
    <li>A more integrated sense of self, and improved well-being.</li>
</ul>

<p>Sessions go for 1hr | Lead by Georgia</p>
