.intro {
  @extend %clearfix;
  @extend %align-center;
  display: block;
  background: $colorPrimary;
  color: $white;

  padding: $space*2 $space*3;

  [class^="col-"] {
    padding: 0;
  }

  .icon {
    font-size: 2rem;
  }
  p {
    font-size: 1.125rem;
  }

  strong {
    font-size: 1.25rem;
  }
}
