<p>
    <i><strong>Yoga teacher, Certified Rolfing Practitioner and body-centred mindfulness practitioner.</strong></i>
</p>
<p>
    My journey with Rolfing and Yogestalt (body-centred mindfulness) began within myself. I was in IT Engineering when I
    felt a nudge within me to “move”... physically and in my life’s path. I felt frustrated and unfulfilled. I was doing
    what I was told I “should be doing” yet I was unhappy.
</p>
<p>
    I started looking into body-centred mindfulness as a student and it taught me that most of my connection with the
    world was just not real, it was almost as if I was connected with my ‘fantasy’ or ‘idea’  of the world and of
    myself, but not my actual, true self. I began paying attention to the body and learned how it helps us return to who
    we really are. That catapulted my journey and obsession with how experiences are felt through the body, how those
    experiences then shape our reality and how body-mind-emotions work together.
</p>
<p>
    All of this has led me to see and believe that each one of us have everything within us to change and be happy… we
    just need to tune into that natural capacity, use and allow it to grow. My passion and ultimate goal with my clients
    is to help them stop struggling. This means I am here to help you reach your next available level of integration -
    be it physical, emotional, around beliefs or perceptions of the world. Everything we work on during the sessions can
    be applied to your daily life and will make a difference for you.
</p>

<h4>A bit on my background:</h4>
<p>
    I have studied, worked and lived in Mendoza and Buenos Aires in Argentina where I completed my IT Engineering
    studies, became a Bach’s flowers practitioner, Yoga teacher and studied Yogestalt with the founder. I still have
    weekly supervision sessions with him… it helps keep me sane. I then moved to Stockholm where I studied with various
    Rolfing supervisors and mentors before hopping on a plane to Germany where continued my Rolfing training at the
    European Rolfing Association and studied with mentors.
</p>
<p>
    A few years ago, I moved to Sydney and it has been a journey of continuous learning with a focus on workshops around
    mindfulness, somatic movement, and Rolfing. I’m a constant student of the human expression and what makes us who
    we are.
</p>
<p>
    If you’re interested in finding out more, feel free
    to <a class="close-modal-window scroll highlight-contact-form" href="#top">drop me a note</a>.
</p>
