---
layout: page
title: Exploraciones Somáticas
description: Descubriéndonos en el estar presente
image: https://source.unsplash.com/Y6nFvt1ebyw/2000x1322?a=.png
thumbnail: /images/loto-thumbnail.png
permalink: /exploraciones-somaticas/
unsplash:
    name: Dorota Dylka
    user: dylka
half-hero: true

entries:
    - title: "Exploración 1: Estando presente en la respiración"
      description: >
        Les propongo volver a lo básico: explorarnos en el ciclo de la respiración.
      audio_file: /res/audio/estando-presente-en-la-respiracion.mp3

    - title: "Exploración 2: Necesidades"
      description: >
        Identificamos nuestras necesidades y aprendemos a satisfacerlas de manera creativa.
      audio_file: /res/audio/necesidades.mp3

    - title: "Exploración 3: Movimiento-Sonido/Quietud-Silencio"
      description: >
        Exploramos el contacto con el movimiento y el sonido para facilitar que emergan la quietud y el silencio.
      audio_file: /res/audio/movimiento-sonido-quietud-silencio.mp3

    - title: "Exploración 4: Expresándonos con libertad"
      description: >
       Recurrimos al sonido para empezar a relajar los músculos alrededor de la boca y la garganta.
      audio_file: /res/audio/expresandonos-con-libertad.mp3

    - title: "Exploración 5: Disolviendo límites"
      description: >
       Desafiamos la percepción de nuestros límites físicos, emocionales y mentales para encontrar nuestra escencia.
      audio_file: /res/audio/disolviendo-limites.mp3

    - title: "Exploración 6: Empezando a descubrir necesidades"
      description: >
       Nos conectamos con el aquí y ahora mediante la respiración para descubrir nuestras verdaderas necesidades.
      audio_file: /res/audio/empezando-a-descubrir-necesidades.mp3

    - title: "Exploración 7: Pausas en la respiración"
      description: >
        Seguimos explorándonos en la respiracíon, esta vez nos enfocamos en las pausas.
      audio_file: /res/audio/pausas-en-la-respiracion.mp3

    - title: "Exploración 8: Sintiendo el Sí y el No"
      description: >
        Despertando una conciencia integral y orgánica respecto a aquello que queremos invitar a nuestra vida y aquello
        de lo que necesitamos alejarnos.
      audio_file: /res/audio/sintiendo-el-si-y-el-no.mp3

    - title: "Exploración 9: Claridad de intención"
      description: >
        Bailamos con las fuerzas de transformación.
      audio_file: /res/audio/claridad-de-intencion.mp3

    - title: "Exploración 10: Sensaciones, Emociones, Pensamientos"
      description: >
        Empezamos a descubrir la coreografía de nuestras sensaciones físicas, emociones, y pensamientos.
      audio_file: /res/audio/sensasiones-emociones-pensamientos.mp3

    - title: "Exploración 11: Contemplando el Silencio"
      description: >
        Contemplamos el silencio, descomponiéndolo en imágenes, pensamientos, emociones, y sensaciones físicas.
      audio_file: /res/audio/explorando-el-silencio.mp3

    - title: "Exploración 12: Encontrando nuestro ritmo orgánico"
      description: >
        Nos conectamos con distintos ritmos en el cuerpo para encontrar aquel que nos resulta orgánico para este momento.
      audio_file: /res/audio/ritmo-organico.mp3

    - title: "Exploración 13: Descubriendo cómo orientarnos"
      description: >
        Aprender a orientarnos somáticamente nos ayuda en aquellos momentos de confusión o indecisión.
      audio_file: /res/audio/descubriendo-como-orientarnos.mp3

    - title: "Exploración 14: Entre el sueño y la vigilia"
      description: >
        Nos relajamos con la intención de llegar a un estado entre sueño y vigilia, para conectarnos con el aspecto intuitivo del inconsciente.
      audio_file: /res/audio/descubriendo-como-orientarnos.mp3

    - title: "Exploración 15: Enfocando la atención"
      description: >
        Practicamos concentrar nuestra atención en un único punto, y así ayudarnos a aquietar la mente y encontrar claridad.
      audio_file: /res/audio/enfocamos-la-atencion.mp3

    - title: "Exploración 16: Invitando el balance a nuestra experiencia"
      description: >
        Identificamos aspectos de incomodidad en nosotros e invitamos nuevas sensaciones, emociones y pensamientos para encontrar un balance.
      audio_file: /res/audio/invitando-balance-a-nuestra-experiencia.mp3

    - title: "Exploración 17: Deberes, Quereres y Yo"
      description: >
        Exploramos nuestra relación con nuestros deberes y quereres, distanciándonos para buscar un balance orgánico y sin conflictos.
      audio_file: /res/audio/deber-querer-yo.mp3

    - title: "Exploración 18: Contactando lo simbólico"
      description: >
        Soltamos nuestras exigencias y entramos en contacto con nuestro aspecto símbolico.
      audio_file: /res/audio/soltando-exigencias-contacto-simbolico.mp3

    - title: "Exploración 19: Expansión y contracción"
      description: >
        Siguiendo los movimientos de expansión y contracción de la respiración nos conectamos con aspectos de nuestras
        vidas que necesitan esos movimientos.
      audio_file: /res/audio/expansion-y-contraccion.mp3

    - title: "Exploración 20: Observar y permitir"
      description: >
        Generamos conciencia corporal para ayudarnos a soltar tensiones y volver al presente.
      audio_file: /res/audio/observar-y-permitir.mp3

    - title: "Exploración 21: Caos y rigidez"
      description: >
        Nos sentimos en contextos de caos y rigidez, y aprendemos a regresar a nuestro centro.
      audio_file: /res/audio/caos-y-rigidez.mp3

    - title: "Exploración 22: Observar sin evaluar"
      description: >
        Nos recorremos en nuestros diversos aspectos con la intensión de observarlos sin juzgar ni evaluar.
      audio_file: /res/audio/observar-sin-evaluar.mp3

    - title: "Exploración 23: Los elementos"
      description: >
        Nos exploramos en nuestra conexión con los cuatro elementos de la naturaleza: Aire, Fuego, Agua y Tierra.
      audio_file: /res/audio/los-elementos.mp3

    - title: "Exploración 24: Volver al cuerpo"
      description: >
        Desarrollamos la conciencia somática, regresando al cuerpo para contactar la vida desde nuestra experiencia interna.
      audio_file: /res/audio/volver-al-cuerpo.mp3

    - title: "Exploración 25: Relación con lo material"
      description: >
        Contemplamos nuestros aspectos emocionales, corporales, mentales y energéticos en relación al mundo material que nos rodea.
      audio_file: /res/audio/relacion-con-lo-material.mp3

    - title: "Exploración 26: Encontrando el centro"
      description: >
        Esta exploración somática nos invita a encontrar nuestro propio centro para acceder a la información orgánica que brinda nuestro cuerpo.
      audio_file: /res/audio/encontrando-el-centro.mp3

    - title: "Exploración 27: Pensamientos"
      description: >
        Observamos nuestros pensamientos, para crear distancia y aprender a integrarlos orgánicamente en lugar de perdernos en ellos.
      audio_file: /res/audio/pensamientos.mp3

    - title: "Exploración 28: Integrando aspectos"
      description: >
        Una vez más nos enfocamos en desarrollar nuestra conciencia corporal.
      audio_file: /res/audio/integrando-aspectos.mp3

    - title: "Exploración 29: Apego y desapego"
      description: >
        Exploramos nuestra relación con las personas y lo material, a través de los lentes del apego y el desapego.
      audio_file: /res/audio/apego-y-desapego.mp3

    - title: "Exploración 30: Replegando los sentidos"
      description: >
        Practicamos orientar nuestros sentidos hacia adentro para profundizar en nuestra experiencia interior.
      audio_file: /res/audio/replegando-los-sentidos.mp3

---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                La idea de estas exploraciones -o meditaciones- es generar un espacio seguro en el que nos podamos explorar
                en distintos aspectos de ese todo fantástico y misterioso que somos. Usando distintas modalidades,
                herramientas, gestos, movimientos, conceptos e ideas, nos exploramos en nuestras sensaciones, sentimientos,
                pensamientos, creencias y acciones; para así ir descubriéndonos cada vez más.
            </p>
        </div>
    </div>
</section>

<section class="info">
    <div class="container">
        <div class="text">
            <p>
                Te invito a que vuelvas sobre estas exploraciones las veces que consideres necesario, y a que también
                hagas tus propias exploraciones, cambiando o ajustando estas ideas a lo que vos necesitás a cada
                momento. Recordá que nos estamos explorando; estamos jugando con estas meditaciones para ver qué
                descubrimos. Por esto, no hay "bien o mal" en el explorar, y no estamos esperando un resultado
                específico. Estamos recorriendo nuestro propio camino de autodescubrimiento; y no hay dos caminos que
                sean iguales. Te invito a disfrutar y respetar el tuyo.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container table">
        <h3>Nuestra última exploración</h3>
        {%- assign entry = page.entries.last -%}
        <div class="row">
            <div class="column">
                <strong>{{ entry.title }}</strong><br>
                {{ entry.description }}
            </div>
            <div class="column">{% include audio.html file=entry.audio_file %}</div>
        </div>
        <h3>Exploraciones anteriores</h3>
        {%- assign old_count = page.entries.size | minus:1 -%}
        {%- assign old_entries = page.entries | slice: 0, old_count -%}
        {%- for entry in old_entries -%}
        <div class="row">
            <div class="column">
                <strong>{{ entry.title }}</strong><br>
                {{ entry.description }}
            </div>
            <div class="column">{% include audio.html file=entry.audio_file %}</div>
        </div>
        {%- endfor -%}
    </div>
</section>

<section class="info logo-bg-color">
    <div class="container">
        <div class="text">
            <p>
                Si en este explorar te das cuenta de que necesitás apoyo adicional, o si querés profundizar en estas
                prácticas, o tenés alguna sugerencia, escribime a: {% include email.html %}
            </p>
        </div>
    </div>
</section>
