---
layout: page
title: "1:1 Sessions"
description: ""
image: https://source.unsplash.com/NMLv5HQZnK4/2000x1322?a=.png
thumbnail: /images/wallart-thumbnail.jpg
permalink: /offering/one-on-one/
unsplash:
    name: Mark Tegethoff
    user: tegethoff
half-hero: true

---

<section class="info">
    <div class="container flex primary-color-box">
        <div class="square-image" style="background-image: url({{ page.thumbnail }}); min-width: 200px"></div>
        <div class="text-container">
            <p>
                A whole <strong>90-minute</strong> session dedicated to you and your explorations of what you're going
                through at the moment. No two sessions have to look or be the same - we are guided by your wisdom and
                what you need each time.
            </p>
        </div>
    </div>
</section>

<section class="collapsed-info">
    <div class="container">
        <div class="text">
            <p>
                In our sessions, we can work with <a href="/modalities/structural-integration/">Structural Integration</a> to help conditions around
                pain and physical discomfort, improve posture and physical wellbeing as well release tension. We can
                also apply the principles of NeuroAffective touch and, by using touch, work on improving the connection
                between mind-body as we resolve challenging emotional states, reconnect with our bodies in a safe way,
                and have the embodied experience of support and safety.
            </p>
            <p>
                With practices that help regulate our nervous system, we can work to improve states of disconnectedness
                from the present, the lack of safety in our bodies, lack of aliveness or numbness as well as anxiety or
                a depressed mood. I also offer <a href="/modalities/somatic-explorations/">Somatic Explorations</a>,
                where we work on a plethora of topics that help uncover different parts of ourselves and what motivates
                our actions so we can discover our needs and wants.
            </p>
            <p>
                The practices used in session are not the classic <i>talk therapy approach</i> but rather, a
                learning-oriented process that truly engages the mind and body so you can understand and embody the
                takeaways from each session.
            </p>
            <p>
                <strong>Available online</strong> from February 2022 for ongoing clients and those seeking <i>on demand</i>
                sessions whenever required. On-demand sessions can be booked up to 5 days in advance. Please reach out
                to me at {% include email.html %} at anytime to book in.<br>
                Fee: $220/session
            </p>
            <p>
                <strong>Available in-person</strong> in Sydney from March 2022. In-person sessions are limited to only a
                handful of clients and sessions will run every fortnight for 10 x sessions. You will be booked in for
                the same time and day for each session - eg: every Wednesday at 10am. After the initial 10 sessions, you
                can decide if you would like to continue with another set of 10 sessions or if you prefer to take a
                break to integrate the work done.<br>
                Fee: $220/session - pay as you go. Payment is due on the day of booking.
            </p>
            <p>
                <strong>Why 10 sessions</strong><br>
                From my learnings and experience, I have found that it usually takes 10 sessions for a client to truly
                experience and embody a shift in their way of living and being. This will allow us enough time to
                understand what matters to you and where you want to take your therapeutic journey so we can tailor the
                10 sessions to get the most out of them each time.
            </p>
            <p>
                Because my in-person sessions are limited and I want to ensure you get the best out of the therapeutic
                process, I am only able to take on clients who are able to fully commit to a set of 10 sessions, 1 per
                fortnight. As I will only be in the practice on a limited number of days, there may be very limited
                capacity to reschedule. If you do cancel, the cancellation must be paid in full as the hour has been
                allocated for you and will not be given to anyone else.
            </p>
            <p>
                If you are a <strong>new client</strong> who is interested in exploring 1:1 sessions, we can begin with
                an initial online session to see if we are a good fit.
            </p>
            <p>
                For <strong>new clients seeking bodywork</strong>, a trial session can be offered when there is a new
                opening. Please join our waitlist by {% include email.html text="emailing us here" %} with the email
                subject ‘Bodywork Client Waitlist’. Please include your name and contact so we can reach you as soon as
                a spot becomes available. The intention of this initial session is to see if we're a good fit to
                continue with a set of 10 sessions.
            </p>
            <p>
                If you are a client who has committed to 1:1 sessions, you will also have access to our
                <a href="/offering/somatic-explorations/">Somatic Explorations Group</a>. This is completely optional to
                attend and will be a great additional support for the therapeutic process.
            </p>
            <p>
                If you are interested in exploring this form of therapeutic process but are unable to commit to 10
                sessions at this time, our <a href="/offering/intensive-programme/">3-month programme</a> might be a
                better option for you.
            </p>
        </div>
    </div>
</section>

