---
layout: page
locale: en
title: Reset Yourself!
description: >
    The Return to Your Natural State of Well-being.<br>
    A 10-week Somatic Explorations Program to Restore Your Natural State of Safety, Vitality and Presence
image: https://source.unsplash.com/2nZuBzWO-9A/2000x1322?a=.png
thumbnail: /images/wallart-thumbnail.jpg
course_id: reset-yourself
unsplash:
    name: Deepak Kumar
    user: deepak890k
half-hero: true
---

<section class="info">
    <div class="container">
        <div class="text">
            <p>
                Hi! Welcome to the program and thank you so much for taking the time to be here.
            </p>
            <p>
                {% include vimeo.html id=665459474 %}
            </p>
            <p>
                It is a great pleasure for me to be your host during these 10 weeks that we are going to share. My main
                goal is to give you tools that will help you explore and get to know yourself, as well as understand
                your responses and reactions when facing the different challenges that life brings. What is even more
                important is that these tools and practices that I am going to teach you will help you leave behind
                those reactive states such as anxiety, stress, constant frustration, and even tiredness or hopelessness,
                and return to states of greater calm, presence and vitality.
            </p>
            <p>
                Our approach throughout the program will be somatic, which means that the focus will be on your inner
                experience, on finding your organic rhythms, and on discovering your own needs and those practices that
                will support you in satisfying them.
            </p>
            <p>
                Let's get started then and hope you have an amazing journey back to
                <strong>Your Natural State of Well-being</strong>.
            </p>
        </div>
    </div>
</section>

{% include course-index.html course_id=page.course_id %}

<section class="info logo-bg-color">
    <div class="container">
        <div class="text">
            <p>
                As always, if you require additional support or want to deepen these practices, I am here for you. Drop
                me a message for more information: {% include email.html %}
            </p>
        </div>
    </div>
</section>
